<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mainApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mainApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mainApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="mainApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Coverage Verification</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="app.css">
  <script src="js/libs/jquery-2.1.4.min.js"></script>
  <script src="js/libs/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/abdmob/x2js/master/xml2json.js"></script>
  <script src="js/libs/js-yaml.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Code coverage</a> </div>
      <div class="collapse navbar-collapse"></div>
    </div>
  </nav>

  <div class="container-fluid" ng-controller="MainController">
    <form class="form-inline">
      <div class="form-group">
        <label for="githubLogin">Github login</label>
        <input type="text" ng-model="user.login" class="form-control" id="githubLogin" placeholder="github login">
      </div>
      <div class="form-group">
        <label for="githubPassword">Github Password</label>
        <input type="password" ng-model="user.password" class="form-control" id="githubPassword" placeholder="github password">
      </div>
      <div class="form-group">
          <button class="btn btn-default" ng-click="generateToken()">Generate Token</button>
      </div>
      <div class="form-group pull-right">
        <div class="btn-group">
          <button class="btn btn-default" ng-click="load()">Load</button>
          <button class="btn btn-primary" ng-click="save()">Save</button>
        </div>
      </div>
    </form>
    <br />
    <form class="form-inline">
      <div class="form-group">
        <label for="githubToken">Github token</label>
        <input type="text" ng-model="github.token" class="form-control" id="githubToken" placeholder="github token">
      </div>
      <div class="form-group">
        <button class="btn btn-default" ng-click="authGithub()">Test</button>
      </div>
      <div class="form-group">
        <label for="codecovToken">Codecov token</label>
        <input type="text" ng-model="codecov.token" class="form-control" id="codecovToken" placeholder="github token">
      </div>
    </form>
    <br />
    <form>
      <div class="form-group">
        <label for="repos">Repos</label>
        <textarea id="repos" title='Paste list of repos here' ng-model="repositories" class="form-control" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="logs">Logs</label>
        <textarea id="logs" title='log' ng-model="logs" class="form-control" disabled="disabled" rows="5"></textarea>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <button class="btn btn-default" ng-click="prepare();">Prepare</button>
          <button class="btn btn-primary" ng-click="fork();">Fork</button>
          <button class="btn btn-primary" ng-click="createTravisFile();">Create Travis File</button>
          <button class="btn btn-success" ng-click="travisSync();" disabled="disabled">Sync with Travis</button>
          <button class="btn btn-primary" ng-click="setupBuildFiles();">Setup Build Files</button>
          <button class="btn btn-success" ng-click="travisBuild();" disabled="disabled">Travis Build</button>
          <button class="btn btn-danger" ng-click="checkCoverage();">Check Coverage</button>
          <button class="btn btn-primary" ng-click="deleteRepos();">Clear Repos</button>
        </div>
      </div>
   </form>
    <div class="row">
      <table class="table">
        <tr>
          <th>Repo</th>
          <th>Type</th>
          <th>Forked</th>
          <th>Travis .yml</th>
          <th>Travis synch</th>
          <th>Build Status</th>
          <th>Lines</th>
          <th>Covered</th>
          <th>Coverage</th>
        </tr>
        <tr ng-repeat="(k, v) in repos">
          <td><a class="btn vtn-link" href="{{k}}" target="_blank">{{k}}</a></td>
          <td>{{v.type}}</td>
          <td>
            <!--<span ng-show="{{v.forked}}" class="glyphicon glyphicon glyphicon-ok text-success" aria-hidden="true"></span>-->
            <!--<span ng-hide="{{v.forked}}" class="glyphicon glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>-->
            {{v.forked}}
          </td>
          <td>
            <!--<span ng-show="{{v.travis}}" class="glyphicon glyphicon glyphicon-ok text-success" aria-hidden="true"></span>-->
            <!--<span ng-hide="{{v.travis}}" class="glyphicon glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>-->
            {{v.travis}}
          </td>
          <td>
            <!--<span ng-show="{{v.buildFile}}" class="glyphicon glyphicon glyphicon-ok text-success" aria-hidden="true"></span>-->
            <!--<span ng-hide="{{v.buildFile}}" class="glyphicon glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>-->
            {{v.buildFile}}
          </td>
          <td>{{v.status}}</td>
          <td>{{v.lines}}</td>
          <td>{{v.covered}}</td>
          <td>{{v.coverage}}</td>
        </tr>
      </table>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="js/libs/angular.min.js"></script>
  <script src="js/libs/angular-route.min.js"></script>
  <script src="js/libs/angular-resource.min.js"></script>
  <script src="js/libs/angular-cookies.min.js"></script>
  <script src="app.js"></script>
  <script src="services/github-service.js"></script>
  <script src="services/travis-service.js"></script>
  <script src="services/codecov-service.js"></script>
  <script src="services/repo-analyzer.js"></script>
  <script src="controllers/main-controller.js"></script>

  <!--<script src="view1/view1.js"></script>-->
  <!--<script src="view2/view2.js"></script>-->
  <!--<script src="components/version/version.js"></script>-->
  <!--<script src="components/version/version-directive.js"></script>-->
  <!--<script src="components/version/interpolate-filter.js"></script>-->
</body>
</html>
